.projects__wrapper {
	margin-bottom: 5rem;
	padding-bottom: 5rem;
}

.projects__title {
	margin-top: 0;
	margin-bottom: 4rem;
	color: var(--blue);
	font-size: 2.8rem;
	font-weight: bold;
}

@media (max-width: 600px) {
	.projects__title {
		text-align: center;
	}
}

.projects__box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.projects__item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
	flex: 0 1 200px;
	margin: 0;
	padding: 1.6rem;
	background-color: var(--light-black);
	border-radius: 10px;
}

.projects__img {
	display: block;
	width: 100%;
	border-radius: 10px;
}

.projects__text {
	margin: 0;
	color: var(--tomato);
	text-transform: uppercase;
	font-size: 1.5rem;
}
